$font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

$cardScale: 0.5;
$cardWidth: 270px;
$cardHeight: 378px;
$cardSpacing: 2px;
$iconSize: 2.2em;

$handWidth: 7 * ($cardWidth * $cardScale + 2 * $cardSpacing);
$minHandMargin: 400px;
$firstTransitionWidth: $handWidth + $minHandMargin;

$outlineColor: #9c9c9c;
$contrastColor: #ffd200;
$iconBackground: #ededed;
$systemMsgColor: #636363;

$resizeTransition: 0.2s ease;

@mixin disable-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin wrap-words {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	word-break: break-word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

body {
	font-family: $font;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

input[type=text] {
	border: 0;
	border-bottom: 3px solid black;
	font-family: $font;
	font-weight: 700;
	outline: none;

	&.invalid {
		border-color: red;

		&::-webkit-input-placeholder, &:-ms-input-placeholder, &:-moz-placeholder, &::placeholder {
			color: red;
		}
	}
}

::selection {
	background-color: $contrastColor;
}


.card {
  height: $cardHeight * $cardScale;
  width: $cardWidth * $cardScale;
  -webkit-border-radius: 18px * $cardScale;
  -moz-border-radius: 18px * $cardScale;
  border-radius: 18px * $cardScale;
  z-index: 2;

  &.black {
	  background-color: black;
	  color: white;
	}

	&.white {
	  background-color: white;
	  color: black;
	  border: solid 1px black;
	}

	&.front {
	  background-size: 25px * $cardScale;
	  background-repeat: no-repeat;
	  background-position: 16px * $cardScale 333px * $cardScale;

	  &.black {
		  background-image: url(cah-logo-black.svg);
		}

		&.white {
		  background-image: url(cah-logo-white.svg);
		}

		.card-text {
		  font: 24px * $cardScale $font;
		  font-weight: 700;
		  padding: 18px * $cardScale 20px * $cardScale;
		  color: inherit;
		  @include disable-selection;
		}

		.card-text::after {
		  content: "Cards Against Quarantine";
		  display: block;
		  position: absolute;
		  font: 9px * $cardScale $font;
		  font-weight: 700;
		  padding-bottom: 28px * $cardScale;
		  padding-left: 22px * $cardScale;
		  bottom: 4px;
		}

		.special {
			&::before {
				display: block;
				position: absolute;
				font: 18px * $cardScale $font;
				font-weight: 700;
				color: white;
				right: 52px * $cardScale;
			}

			&.pick::before {
				content: "PICK";
				bottom: 26px * $cardScale;
			}

			&.draw::before {
				content: "DRAW";
				bottom: 58px * $cardScale;
			}

			&::after {
				display: block;
				position: absolute;
				background-color: white;
				height: 26px * $cardScale;
				width: 26px * $cardScale;
				color: black;
				text-align: center;
				border-radius: 15px * $cardScale;
				font: 18px * $cardScale $font;
				font-weight: 700;
				line-height: 25px * $cardScale;
				right: 22px * $cardScale;
				content: "2";
			}

			&.pick::after {
				bottom: 23px * $cardScale;
			}

			&.draw::after {
				bottom: 55px * $cardScale;
			}

			&.pick.pick-three::after {	
				content: "3";
			}
		}
	}

	&.back {
		.card-text {
		  font: 40px * $cardScale $font;
		  font-weight: 700;
		  padding: 18px * $cardScale 20px * $cardScale;
		  padding-top: 30px * $cardScale;
		  @include disable-selection;
		}
	}

	&:hover {
		z-index: 3;

		&.white {
		  border: solid 2px black;
		}

		&.ui-sortable-helper {
			transform: rotate(2deg);
			z-index: 3;
		}
	}
}

#game-wrapper {
	background-color: #f0f0f0;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;

	.action-button {
		position: relative;
		background-color: white;
		border: 1px solid $outlineColor;
		padding: 10px 15px;
		cursor: pointer;
		margin: 4px auto;
		width: 150px;
		text-align: center;
		transition: $resizeTransition;
		font-weight: 700;

		&:hover {
			margin: 0 auto;
			border: 4px solid $contrastColor;
			font-size: 1.02em;
		}

		&#select-winner {
			top: calc(90% - #{$cardHeight * $cardScale});

			@media only screen and (max-height: 880px) {
				top: calc(90% - #{$cardHeight * $cardScale} + 7px);
			}

			@media only screen and (max-width: 1450px) and (min-width: $firstTransitionWidth) {
				margin: 4px;
				left: 26.5%;
				top: calc(90% - #{$cardHeight * $cardScale} - 80px);

				@media only screen and (min-height: 750px) {
					top: calc(90% - #{$cardHeight * $cardScale} - 100px);
				}

				@media only screen and (max-height: 720px) {
					top: calc(90% - #{$cardHeight * $cardScale} - 35px);
				}

				@media only screen and (min-height: 850px) {
					top: calc(90% - #{$cardHeight * $cardScale} - 140px);
				}

				&:hover {
					margin: 0;
				}
			}
			
			@media only screen and (max-width: $firstTransitionWidth) {
			}
		}

		&#central-action {
			top: calc(90% - #{$cardHeight * $cardScale} - 22px);

			@media only screen and (max-width: $firstTransitionWidth) {
				top: calc(100% - #{$cardHeight * $cardScale} - 75px);
				transition: $resizeTransition;
			}

			@media only screen and (max-width: $handWidth) {
				top: calc(100% - #{$cardHeight * $cardScale} - 85px);
			}
		}
	}

	#response-cards {
		position: absolute;
		display: flex;
		left: 50%;
		transform: translateX(-50%);
		top: calc(35% - #{$cardHeight * $cardScale / 2 - 180px});
		transition: $resizeTransition;
		justify-content: center;
		width: 100%;
		align-items: center;

		.card {
			margin: 10px;
			transition: $resizeTransition;


			&.selected-card {
				border: 2px solid $contrastColor;
				margin: 9px;
			}

			.card-text::after {

				// TODO: fix jumpy bottom text during transition from hover;
			  bottom: 112px;

				@media only screen and (min-width: 1450px) {
					bottom: 3px;
				}
				@media only screen and (min-width: 1550px) {
					bottom: 8px;
				}
			}


			&:hover {
				margin: 9px;
			}
		}

		@media only screen and (max-height: 850px) {
			top: calc(35% - #{$cardHeight * $cardScale / 2 - 150px});
		}

		@media only screen and (max-height: 800px) {
			top: calc(35% - #{$cardHeight * $cardScale / 2 - 130px});
		}

		@media only screen and (max-width: 1550px) {
			.card {
				margin: 5px;

				&:hover {
					margin: 4px;
				}

				&.selected-card {
					margin: 4px;
				}
			}
		}

		@media only screen and (max-width: 1450px) {
			top: calc(35% - #{$cardHeight * $cardScale / 2 + 80px});
			flex-wrap: wrap;
			width: $cardWidth * $cardScale * 3 + 40px;
			height: $cardHeight * $cardScale * 2 + 40px;
			margin: 0 auto;
			left: 58%;
		}

		@media only screen and (max-width: $firstTransitionWidth) {
			transform: none;
			left: auto;
			right: 23%;
			top: auto;
			bottom: calc(50% - #{$cardHeight * $cardScale / 2} - 12px);
		}
	}

	#cur-black-card {
		position: absolute;
		left: calc(50% - #{$cardWidth * $cardScale / 2});
		top: calc(35% - #{$cardHeight * $cardScale / 2 + 10px});
		transition: $resizeTransition;
		transform: scale(1.5);

		.card-text::after {
			bottom: 0;
		}

		@media only screen and (max-width: $firstTransitionWidth) {
			top: calc(45% - #{$cardHeight * $cardScale + 10px});
		}

		@media only screen and (max-height: 650px) {
			transform: scale(1.25);
		}

		&.winner-shown {
			display: flex;
			left: 0;
			width: 100%;
			justify-content: center;
			top: calc(45% - #{$cardHeight * $cardScale - 15px});

			.card {
				margin: 10px;

				.card-text::after {
					bottom: 10px;
				}

				&.white:hover {
					border: 1px solid black;
				}
			}
		}

		&.responses-shown {
			top: calc(35% - #{$cardHeight * $cardScale / 2 + 60px});

			transform: scale(1.25);

			@media only screen and (max-height: 850px) {
				top: calc(35% - #{$cardHeight * $cardScale / 2 + 80px});
			}

			@media only screen and (max-height: 800px) {
				transform: scale(1.15);
			}

			@media only screen and (max-width: 1450px) and (min-width: $firstTransitionWidth) {
				transform: scale(1.25);
				left: 28.5%;
				&.czar-mode {
					top: calc(35% - #{$cardHeight * $cardScale / 2 - 10px});
				}
				&:not(.czar-mode) {
					top: calc(35% - #{$cardHeight * $cardScale / 2 - 37px});
				}
			}

			@media only screen and (max-width: $firstTransitionWidth) {
				transform: scale(1.5);
				left: 27%;
				top: calc(35% - #{$cardHeight * $cardScale / 2 - 25px});
			}

			@media only screen and (max-width: 1230px) {
				transform: scale(1.25);
				left: 25.5%;
			}

			@media only screen and (max-height: 700px) and (max-width: 1450px) {
				top: calc(35% - #{$cardHeight * $cardScale / 2} + 10px);
			}
		}
	}

	#hand {
		background-color: white;
		position: absolute;
		border: solid 1px $outlineColor;
		width: 80%;
		height: $cardHeight * $cardScale;
		bottom: 0;
		left: 10%;
		right: 10%;
		padding: 10px 0;
		padding-bottom: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-bottom: none;
		transition: $resizeTransition;

		@media only screen and (max-width: $firstTransitionWidth) {
			width: 100%;
			left: 0;
			right: 0;
			border-left: 0;
			border-right: 0;
		}

		@media only screen and (max-width: $handWidth) {
			overflow-y: hidden;
			overflow-x: scroll;
			padding-bottom: 20px;
			justify-content: flex-start;

			scrollbar-color: $contrastColor transparent;

			&::-webkit-scrollbar {
			  height: 15px;
			}

			&::-webkit-scrollbar-thumb {
			  border-radius: 25px;
			  background-color: $contrastColor;
			}

			&::-webkit-scrollbar-track {
			  border-radius: 25px;
			  background-color: transparent;
			}
		}

		.card {
			flex: 0 0 auto;
			margin: 0 $cardSpacing;

			/*
			&:hover {
				.card-text::after {
					bottom: 0;
				}
			}

			.card-text::after {
			  bottom: 6px;
			}*/

			&.selected-card {
				border: 2px solid $contrastColor;
				margin: 0;
			}
		}
	}

	.text-container {
		background-color: white;
		position: absolute;
		border: solid 1px $outlineColor;
		transition: $resizeTransition;
		z-index: 5;
		padding: 10px;
		width: 13%;
		height: calc(80% - #{$cardHeight * $cardScale});
		right: 10%;
		top: 10%;

		@media only screen and (max-width: $firstTransitionWidth) {
			top: 0;
			border-top: 0;
			height: calc(100% - #{$cardHeight * $cardScale} - 39px);
			width: 20%;
		}

		@media only screen and (max-width: $handWidth) {
			height: calc(100% - #{$cardHeight * $cardScale} - 51px);
			width: 25%;
		}

		h1 {
			font-size: 1.3em;
			margin: 3px 0;
			display: inline;
		}

		.icon-list {
			display: flex;
			flex-direction: column;
			position: absolute;
			overflow-y: auto;
			overflow-x: hidden;
			top: 30px;
			bottom: 0;
			left: 0;
			right: 10px;
			margin: 15px 0;

			scrollbar-width: thin;
			scrollbar-color: $contrastColor $outlineColor;

			&::-webkit-scrollbar {
			  width: 3px;
			}

			&::-webkit-scrollbar-thumb {
			  border-radius: 0px;
			  background-color: $contrastColor;
			}

			&::-webkit-scrollbar-track {
			  border-radius: 0px;
			  background-color: $outlineColor;
			}

			.icon-container {
				margin: 1px 0;
				padding: 8px 10px;
				width: calc(100% - 23px);
				transition: 0.1s ease;
				display: flex;

				&:hover {
					background-color: #ebebeb;
					transition: 0.1s ease;
				}


				.icon {
					width: $iconSize;
					height: $iconSize;
					background-color: $iconBackground;
					border-radius: 10px;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: 1.3em;
					}
				}

				.content {
					width: calc(100% - #{$iconSize});
					margin: 0 5px;
					margin-right: 0px;
					@include wrap-words;

					h2 {
						font-size: 1em;
						margin: 0;
					}

					p {
						margin: 0;
					}
				}

				@media screen and (max-width: 800px) {
					.msg-icon {
						display: none;
					}

					.msg-content {
						width: 100%;
					}
				}
			}
		}

		&#game-info-container {
			left: 10%;

			@media only screen and (max-width: $firstTransitionWidth) {
				left: 0;
				border-left: 0;
			}

			#user-list {
				.user-display {
					.user-info {
						width: calc(100% - #{$iconSize} - 32px);
					}

					.user-score {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						width: 32px;

						h2 {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}

		&#chat-container {
			right: 10%;

			@media only screen and (max-width: $firstTransitionWidth) {
				right: 0;
				border-right: 0;
			}

			#chat-header {

				#room-link {
					float: right;
					display: block;
					margin: 2px 2px;
					color: black;
					font-size: 20px;
					cursor: pointer;

					&:hover {
						color: $systemMsgColor;
						margin: 1px 1px;
						font-size: 22px;
					}

					&:active {
						margin: 0px 0px;
						font-size: 24px;
					}
				}

				#link-copy-notification {
					position: absolute;
					top: -45px;
					right: -10px;
					background-color: white;
					padding: 10px 15px;
					border-radius: 10px;
					font-weight: 700;
					border: 2px solid $outlineColor;
					z-index: 10;

					&.visible {
						transition: opacity 2s ease-out;
					}

					&:before,
					&:after {
					    content: "";
					    position:absolute;
					    bottom: -10px;
					    right: 20px;
					    z-index:12;
					    width: 0;
					    height: 0;
					    border: solid 10px transparent;
					    border-bottom: 0;
					    border-top-color: white;
					}
					&:before {
					    bottom:-12px;
					    z-index:11;
					    border-top-color: $outlineColor;
					}

					@media only screen and (max-width: $firstTransitionWidth) {
						top: 5px;
						right: 45px;
						padding: 7px;
						border-radius: 0;

						&:before,
						&:after {
								top: 8px;
								right: -6px;
						    bottom: auto;
						    border: solid 8px transparent;
						    border-right: 0;
						    border-left-color: white;
						}

						&:before {
							right: -10px;
					    border-left-color: $outlineColor;
						}
					}
				}
			}

			#chat-history {
				bottom: 30px;

				> :first-child {
				  margin-top: auto !important;
				}

				.msg-container {
					&.system-msg .msg-content {
						h2, p {
							font-style: italic;
							color: $systemMsgColor;
						}
					}

					.msg-content {
						.msg-likes {
							margin: 2px 2px;
							margin-bottom: 0;
							display: inline-flex;
							width: auto;
							background-color: $iconBackground;
							border-radius: 20px;
							padding: 2px;

							div {
								margin: 2px;
								width: 1em;
								height: 1em;
								display: flex;
								justify-content: center;
								align-items: center;

								&.msg-heart {
									cursor: pointer;
									
									.fas {
										color: red;
									}

									.far {
										transition: 0.2s ease;

										&:hover {
											color: #fa8282;
											transition: 0.2s ease;
										}
									}
								}
							}
						}
					}
				}
			}

			input[type=text] {
				width: calc(100% - 20px);
				font-size: 16px;
				position: absolute;
				bottom: 15px;
			}
		}
	}
}

#overlay-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;

	.overlay-window {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		border: 3px solid black;
		border-radius: 18px;

		input {
			outline-y: none;
		}

		input[type=text] {
			width: 250px;
			border-bottom-width: 4px;
			font-size: 20px;
			font-weight: 700;
		}

		input[type=submit], button {
			background-color: $contrastColor;
			border: 4px solid black;
			border-radius: 18px;
			font: 20px $font;
			font-weight: 700;
			padding: 10px 18px;
			margin: 10px;
			text-decoration: none;
			cursor: pointer;

			&:disabled {
				cursor: not-allowed;
				color: black;
				opacity: 0.4;
			}
		}
	}

	#user-setup-window {
		$userOverlayWidth: 450px;

		width: $userOverlayWidth;

		@media only screen and (max-width: $userOverlayWidth + 40px) {
			width: 100%;
			border-radius: 0;
		}

		#settings-panel {
			padding: 20px;
			text-align: center;
			align: center;

			#select-icon {
				#icons {
					justify-content: center;
					display: flex;
					flex-wrap: wrap;
					transition: 0.5s ease;

					.icon {
						margin: 4px;
						width: 50px;
						height: 50px;
						background-color: $iconBackground;
						border-radius: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						cursor: pointer;

						i {
							font-size: 30px;
						}

						&:hover, &.selected {
							margin: 1px;
							border: 3px solid $outlineColor;

							i {
								font-size: 33px;
							}
						}

						&.selected {
							border-color: black;
							background-color: $contrastColor;
						}
					}
				}
			}
		}
	}

	#room-setup-window {
		$userOverlayWidth: 800px;

		width: $userOverlayWidth;
		padding: 20px;
		text-align: center;
		align: center;

		@media only screen and (max-width: $userOverlayWidth + 40px) {
			width: 100%;
			border-radius: 0;
		}

		#room-settings {
			max-height: 800px;
			transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

			@media only screen and (max-height: 700px) {
				max-height: 500px;
				overflow-y: scroll;

				scrollbar-width: thin;
				scrollbar-color: $contrastColor $outlineColor;

				transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

				&::-webkit-scrollbar {
				  width: 4px;
				}

				&::-webkit-scrollbar-thumb {
				  border-radius: 0px;
				  background-color: $contrastColor;
				}

				&::-webkit-scrollbar-track {
				  border-radius: 0px;
				  background-color: $outlineColor;
				}
			}

			@media only screen and (max-height: 550px) {
				max-height: 300px;
			}

			.room-option-dropdown {
				display: flex;
				justify-content: center;
				margin: 10px 0;

				.select-label {
					padding: 10px;
					font-weight: 700;
					width: 19%;
					text-align: right;
				}

				select {
					display: inline;
					font-size: 1em;
					font-family: $font;
					font-weight: 700;
					padding: 8px 12px;
					width: 60%;
					max-width: 100%;
					box-sizing: border-box;
					border: 3px solid $iconBackground;
					border-radius: .5em;
					outline: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					background-color: $iconBackground;
					background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%239c9c9c%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
					background-repeat: no-repeat, repeat;
					background-position: right .7em top 50%, 0 0;
					background-size: .65em auto, 100%;

					&::-ms-expand {
						display: none;
					}

					&:hover {
						border-color: $outlineColor;
					}

					& option {
						font-weight: normal;
						border: none;
						outline: none;
					}
				}
			}

			#expansions-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.expansion {
					padding: 8px 7px;
					margin: 3px;
					border: 3px solid $iconBackground;
					background-color: $iconBackground;
					border-radius: 10px;
					cursor: pointer;

					&:hover, &.selected {
						border-color: $outlineColor;
					}

					&:hover {
						border-width: 3px;
					}

					&.selected {
						border-color: black;
						background-color: $contrastColor;
					}
				}
			}
		}
	}
}